body{
	background: url("https://ih0.redbubble.net/image.15896435.0775/flat,1000x1000,075,f.u1.jpg");
	background-size: 100%;
    color: black;
}
* {
	box-sizing: border-box;
}
img { 
    height: 150px;
    width: 150px;
}
.btn {
    margin: 3px;
    background-color: blue;
    border-color: #fff;
    border-radius: 50%;
}
.gifDiv{
    float: left;
    margin: 3px;
}
.container {
	background-color: #fff;
	opacity: 0.85;
	padding: 20px;
}
.jumbotron {
    background-color: inherit;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
	color: blue;
}
